Package: casper-tiny
Version: 1.315.1-20140811
Architecture: i386
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 92
Depends: libc6 (>= 2.8), initramfs-tools (>= 0.92bubuntu55), busybox-initramfs (>= 1:1.1.3-4ubuntu3), sudo, util-linux (>= 2.15-1), udev (>= 174)
Conflicts: live-initramfs, usplash (<< 0.4-43), casper
Replaces: casper
Breaks: genext2fs (<< 1.4.1)
Section: misc
Priority: extra
Description: Run a "live" preinstalled system from read-only media
Tag: admin::boot, admin::filesystem, implemented-in::shell, protocol::smb, role::plugin, scope::utility, special::completely-tagged, works-with-format::iso9660
